<h1> Welcome to SALONICITY </h1>
  <h3>...where everyday is a good hair day.</h3>

  <div class="container">
    <a href="/stylists">View All Stylists</a>
    <a href="/new_stylist">Add New Stylist</a>
  </div>
