<h3 style="text-align: center">Here are our Hair EXPERTS:</h3>

  <% if @stylists.any? %>

    <ol style="text-aline: center">
        <% @stylists.each do |stylist| %>
            <div class="row text-center">
                <li style="font-size: 20px">
                  <a href="/stylists/<%= stylist.id() %>"><%= stylist.name %></a>
                </li>

                <form style="display: inline-block" action="/stylists/<%= stylist.id() %>" method="post"> <!--need to add a post method here because delete is only accessible via post.-->
                    <input name="_method" type="hidden" value="delete"> <!--#we need to add this line to items like delete/update to compliment the "post" method above.-->
                    <button class="btn btn-danger btn-cons center-block">
                        Don't delete me, bro!
                    </button>
                </form>
            </div>
        <% end %>
    <ol>
  <%else%>
    <p>There are no Stylists yet!</p>
  <%end%>
